source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
source https://dotnet.myget.org/F/cli-deps/api/v3/index.json
source https://api.nuget.org/v3/index.json

nuget FParsec 1.0.2 framework: >= net452
nuget FSharp.Core 4.0.0.1 framework: >= net45
nuget FsUnit 2.3.2 framework: >= net45
nuget NUnit 3.5.0 framework: >= net45
nuget Persimmon 1.2.0 framework: >= net45
nuget Persimmon.Console 1.2.0 framework: >= net45
nuget Persimmon.Runner 1.2.0 framework: >= net45